{% extends 'base.html' %}

{% block header %}
	<div class="allwidth basic">
		<div class="container">
			<div class="row">
				<div class="span-10">
					<div class="logo">greenroom</div>
				</div>
				<div class="span-6">
					<div class="span-2">
						<a class="span-2" href="{% url www_home %}">home</a>
					</div>
					<div class="span-4">
						<a class="zocial facebook span-4	">Login with Facebook</a>
					</div>
				</div>
			</div>	
		</div>	
	</div>	
{% endblock %}
{% block body %}
<ul>
	{% for o in outfits %}
		<li>
			<a href='{{ o.view_url }}'>
				From {{ o.submitted_at|date:"H:i a" }}
				<img src="{{ o.img.url }}" width="100" height="100"/>
				Average rating: {{ o.avg_rating|default:"no ratings yet" }}
			</a>
		</li>
	{% endfor %}
</ul>
{% endblock %}