{% extends 'base.html' %}

{% block body %}
<div class="main-content">
	<div class="container">
		<div class="row">
			{% for o in outfits %}
			 <a href='{{ o.view_url }}'>
				<div class="span-4 outfit-image">
					<img src="{{ o.img.url }}" style="max-width: 260;" />
					<div>
						<div class="span-1">
							<ul>
								<li class="comments {% if not o.comment %}null{% endif %}">
									<span>{{ o.outfitfeedback_set.all|length }}</span>
								</li>
							</ul>
						</div>
						<div class="span-1 offset-2">
						</div>
						<!-- <a href='{{ o.view_url }}'>
							From {{ o.submitted_at|date:"H:i a" }}
							Average rating: {{ o.avg_rating|default:"no ratings yet" }}
						</a> -->
					</div>
				</div>
			</a>
			{% endfor %}

		</div>
	</div>
</div>
{% endblock %}