{% extends 'base.html' %}

{% block body %}
<h1>Is it good?</h1>
<img src='http://us.123rf.com/400wm/400/400/korionov/korionov1102/korionov110200139/8905154-portrait-of-a-theater-actor-in-makeup-funny-mime-with-a-red-bow-on-the-chest-in-white-hat-and-stripe.jpg' width="200" height="200"/>
<h3>What do they think!?</h3>
<p>
	{% for of in outfit.outfitfeedback_set.all %}
		{{ of.emailed_to }} rating: 
		{% if of.rating %}
			{{ of.rating }}
		{% else %}
			<a href="{{ of.feedback_url }}">{{ of.feedback_url }}</a>
		{% endif %} <br />
	{% endfor %}
</p>
<h3>Average rating is: 
	{% if outfit.avg_rating %}
		{{ outfit.avg_rating }}
	{% else %}
		yet to be discovered... maybe better stay at home for now ;)
	{% endif %}
</h3>
<h3>Are You happy now? ^_^</h3>
{% endblock %}