{% extends 'base.html' %}

{% block body %}
<div class="main-content">
	<div class="allwidth deco">
		<div class="container">
			{% if not user.is_authenticated %}

					<div class="logo">
						<img src="{{ STATIC_URL }}images/logo.png" alt="greenroom">
					</div>
			{% endif %}

<!-- 				<div class="span-10 offset-1">
					<div id="mirror">
			          <div id="result-img"></div>
			          <div id="mirror-inner"></div>
			          <div id="placeholder-pic">
			          	<p class="suggestions rotate-text">
			          		get yourself ready!
			          	</p>
						<div class="big-arrow"></div>
			          </div>
					  <div id="camera" class="hidden"></div>
           				<canvas id="canvas" height="240" width="320" class="hidden"></canvas>
					</div>
				</div> -->
			<div class="row">
				<div id="mirror">
		          	<div id="result-img" class="img-result max-width"></div>
		          	<div id="mirror-inner"></div>
	<!-- 			          	<div id="placeholder-pic"></div>
	-->				<div id="camera" class="hidden"></div>
	   				<canvas id="canvas" height="240" width="320" class="hidden"></canvas>
				</div>

				<div id="step-1" class=" step hidden">
					<div class="span-5 suggestions left-side">
						only your real friends can give you a trustable opinion
						<div class="big-arrow"></div>
					</div>

			        <div class="span-3">
			          <div class="button big" id="show-camera">Take picture <span class="action"></span></div>
			        </div>
			        <div class="span-3">
			          <div class="button big blue" id="uploader">Upload <span class="action"></span></div>
			        </div>
			        <div class="hidden offset-5" id="capture">
			          <div class="span-3">
			          	<div class="button big" id="capture-btn">Capture <span class="action"></span></div>
			          </div>
  			          <div class="span-3">
			          	<div class="button big red back" id="">Discard <span class="action"></span></div>
			          </div>
			        </div>
			        <div class="span-16">
			        	<p class="suggestions rotate-text center">
			          		get yourself ready!
			          	</p>
			        </div>
		      	</div>
<!-- 	  		     <div id="step-capture" class="row step hidden">
					<div id="mirror">
			          	<div id="result-img"></div>
			          	<div id="mirror-inner"></div>
			          	<div id="placeholder-pic"></div>
					  	<div id="camera" class="hidden"></div>
           				<canvas id="canvas" height="240" width="320" class="hidden"></canvas>
					</div>
			        <div class="span-4 offset-7">
			          <div class="button big" id="ok">Ask for feedback</div>
			        </div>
			        <div class="span-4">
			          <div class="button big red" id="back">Take another</div>
			        </div>
		      </div> -->
  		        <div id="step-2" class="row step hidden">
			        <div class="span-3 offset-5">
			          <div class="button big" id="ok">Ask for feedback <span class="action"></span></div>
			        </div>
			        <div class="span-3">
			          <div class="button big red back" id="">Take another</div>
			        </div>
		      	</div>

		      	<div id="step-3" class="step hidden ask-feedback-form">
			        <form id="form-ask" action="" method="post" class="">
			            {% csrf_token %}
			            <div class="span-6 offset-5">
			              <h3>Ask your friends</h3>
			              <textarea name="description" placeholder="My message"></textarea>
			              <ul>
			                <li class="email-icon"><input type="text" placeholder="nameofyourfriends@email.com" name="email_1" /> </li>
			                <li class="email-icon"><input type="text" placeholder="nameofyourfriends@email.com" name="email_2" /> </li>
			                <li class="email-icon"><input type="text" placeholder="nameofyourfriends@email.com" name="email_3" /> </li><a>add mail</a>
			              </ul>
			            <input class="button" type="submit" value="Ask feedback" />
			            </div>
				            <div class="">
				              <div class="span-16">
				              	<h3>or ask your friends on facebook</h3>
				              	{% if not user.is_authenticated %}
									<form id="fbconnect" action="{% url facebook_connect %}?facebook_login=1" method="post">
										<a class="zocial facebook" href="javascript:void(0);" style="font-size: 14px;" onclick="F.connect(this.parentNode);">Login with Facebook</a>
										<input type="hidden" value="{{ request.path }}" name="next" />
									</form>					
								{% endif %}	
							  </div>
							  <div class="row">
					            <div id="fb-friends" >
					              	{% for f in fb_friends %}
					                    <div class="fb-friend">
							                <img src='{{ f.pic_square }}' height="50" width="50" />
							                <input type="checkbox" name="email_fb_{{ forloop.counter }}" value='{{ f.username }}@facebook.com' /> {{ f.name }} <br />
					                  </div>
					              {% endfor %}
					            </div>
					           </div>
				          </div>
			        </form>
							<!-- </div> -->
				</div>
			</div>
		</div>
		{% if user.is_authenticated %}
		<div class="container">
			<div class="row">
				<div class="span-12">
					<h3>Your last outfits</h3>
						{% for o in outfits %}
						 <a href='{{ o.view_url }}'>
							<div class="span-3 outfit-image">
								<img src="{{ o.img.url }}" style="max-width: 200;" />
								<div>
									<div class="span-1">
										<ul>
											<li class="comments {% if not o.comment %}null{% endif %}">
												<span>{{ o.outfitfeedback_set.all|length }}</span>
											</li>
										</ul>
									</div>
									<div class="span-1 offset-2">
									</div>
									<!-- <a href='{{ o.view_url }}'>
										From {{ o.submitted_at|date:"H:i a" }}
										Average rating: {{ o.avg_rating|default:"no ratings yet" }}
									</a> -->
								</div>
							</div>
						</a>
						{% endfor %}
				</div>
				<div class="span-4">
					<h3>Last friends comments</h3>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
