{% extends 'base.html' %}

{% block body %}
<div class="allwidth deco">
	<div class="container">
		<div class="row">
			<div class="span-4">
				<div class="logo">greenroom</div>
				<h2>Ask feedback of your outfit to your best friends</h2>
				<div class="suggestions left-side">
					only your real friends can give you a trustable opinion
					<div class="big-arrow"></div>
				</div>
			</div>
			<div class="span-10">
				<div id="mirror">
					<div class="placeholder-pic"></div>
          <div id="result-img"></div>
				  <div id="camera" class="hidden"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="allwidth basic">
	<div class="container">
      <div id="step-1" class="step row hidden">
        <div class="span-4 offset-5">
          <div class="button big" id="show-camera">Take picture</div>
        </div>
        <div class="span-4">
          <div class="button big-blue" id="uploader">Upload</div>
        </div>
      </div>
      <div id="step-2" class="step row hidden">
        <div class="span-4 offset-5">
          <div class="button big" id="ok">Ask for feedback</div>
        </div>
        <div class="span-4">
          <div class="button big-blue" id="back">Take another</div>
        </div>
      </div>
      <div id="step-3" class="step row hidden ask-feedback-form">
        <form id="form-ask" action="" method="post" class="">
            {% csrf_token %}
            <textarea name="description"></textarea>
            <div class="span-6">
              <h3>Ask your friends about your outfit</h3>
              <ul>
                <li class="email-icon"><input type="text" placeholder="nameofyourfriends@email.com" name="email_1" /> </li>
                <li class="email-icon"><input type="text" placeholder="nameofyourfriends@email.com" name="email_2" /> </li>
                <li class="email-icon"><input type="text" placeholder="nameofyourfriends@email.com" name="email_3" /> </li>
              </ul>
            <input class="button" type="submit" value="Ask feedback" />
            </div>
            <div class="span-6">
              <h3>or ask your friends on facebook</h3>

            <p>
              {% for f in fb_friends %}
                <img src='{{ f.pic_square }}' height="50" width="50" />
                <input type="checkbox" name="email_fb_{{ forloop.counter }}" value='{{ f.username }}@facebook.com' /> {{ f.name }} <br />
              {% endfor %}
            </p>
          </div>
        </form>
      </div>
      <div class="square-rotate"></div>
		</div>
	</div>
</div>
<div class="allwidth green">
	<div class="container how-it-works">
		<div class="row">
			<div class="span-16">
				<h2>how it works</h2>
			</div>
		</div>
		<div class="row">
			<div class="span-4 box-selected">
				<div class="box-image">
					<img src="{{ STATIC_URL }}images/takePicture.png" alt="take a picture">
				</div>
				<div class="box">
					<h3>take your picture <span class="check-icon"></span></h3>
				</div>
			</div>
			<div class="span-1 arrow"></div>
			<div class="span-3">
				<div class="box-image">
					<img src="{{ STATIC_URL }}images/wait-for-answer.png" alt="wait for an answer">
				</div>
				<div class="box">
					<h3>ask for feedback</h3>
				</div>
			</div>
			<div class="span-1 arrow"></div>
			<div class="span-4">
				<div class="box-image">
					<img src="{{ STATIC_URL }}images/see-what-your-friend-thinks.png" alt="see what your friend think">
				</div>
				<div class="box">
					<h3>see what your friends think about it</h3>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
