{% load compressed %}
<html>
	<head>

		<!-- the order of loading is important -->
		{% compressed_js 'scripts-basic-libs' %}
		{% compressed_js 'scripts-libs' %}
		{% compressed_js 'scripts' %}
		{% compressed_css 'styles' %}

		{% include 'django_facebook_patched/_facebook_js.html' %}

		{% block head %}
		{% endblock %}
	</head>
	<body>
		{% block header %}
		{% endblock%}

		{% block body %}
		{% endblock %}

		{% block footer %}
			<footer>
				<div class="allwidth light">
					<div class="container">
						<div class="row">
							<ul class="span-14">
								<li><a href="http://djangodash.com/teams/c3/berlin/">About us</a></li>
								<li><a>How it works</a></li>
								<li><a>Contact</a></li>
							</ul>
							<div class="span-2 follow">
								Follow us:
							</div>
						</div>
					</div>
				</div>
			</footer>
		{% endblock%}
	</body>
</html>
