{% load compressed %}
<html>
	<head>
		{% compressed_css 'styles' %}
		{% compressed_js 'scripts' %}
		<link href="{{ STATIC_URL }}styles/stylesheets/style.css" type="text/css" rel="stylesheet" media="all" />
		<link href="{{ STATIC_URL }}css/facebook.css" type="text/css" rel="stylesheet" media="all" />
		{% include 'django_facebook_patched/_facebook_js.html' %}
		{% block head %}
		{% endblock %}
	</head>
	<body>
		{% block header %}
		{% endblock%}

		{% block body %}
		{% endblock %}

		{% block footer %}
			<footer>
				<div class="allwidth basic">
					<div class="container">
						<p><a href="http://djangodash.com/teams/c3/berlin/">Team Berlin @2012</a></p>
					</div>
				</div>
			</footer>
		{% endblock%}
	</body>
</html>
