@import url(http://fonts.googleapis.com/css?family=Puritan:400,700|The+Girl+Next+Door);
.container {
  *zoom: 1;
  margin: 0 auto;
  width: 1100px; }
  .container:before, .container:after {
    display: table;
    content: ""; }
  .container:after {
    clear: both; }

.row {
  *zoom: 1;
  float: left;
  margin-bottom: 0; }
  .row:before, .row:after {
    display: table;
    content: ""; }
  .row:after {
    clear: both; }
  .row [class^="span-"] {
    float: left;
    margin-right: 20px; }
    .row [class^="span-"]:last-child {
      margin-right: 0; }

.span-1 {
  width: 50px; }

.span-2 {
  width: 120px; }

.span-3 {
  width: 190px; }

.span-4 {
  width: 260px; }

.span-5 {
  width: 330px; }

.span-6 {
  width: 400px; }

.span-7 {
  width: 470px; }

.span-8 {
  width: 540px; }

.span-9 {
  width: 610px; }

.span-10 {
  width: 680px; }

.span-11 {
  width: 750px; }

.span-12 {
  width: 820px; }

.span-13 {
  width: 890px; }

.span-14 {
  width: 960px; }

.span-15 {
  width: 1030px; }

.span-16 {
  width: 1100px; }

.offset-1 {
  margin-left: 70px; }

.offset-2 {
  margin-left: 140px; }

.offset-3 {
  margin-left: 210px; }

.offset-4 {
  margin-left: 280px; }

.offset-5 {
  margin-left: 350px; }

.offset-6 {
  margin-left: 420px; }

.offset-7 {
  margin-left: 490px; }

.offset-8 {
  margin-left: 560px; }

.offset-9 {
  margin-left: 630px; }

.offset-10 {
  margin-left: 700px; }

.offset-11 {
  margin-left: 770px; }

.offset-12 {
  margin-left: 840px; }

.offset-13 {
  margin-left: 910px; }

.offset-14 {
  margin-left: 980px; }

.offset-15 {
  margin-left: 1050px; }

@media (max-width: 630px) {
  .container {
    width: auto; }

  .row {
    margin: 0;
    width: 100%; }
    .row > [class^="span-"] {
      float: none;
      margin: 0;
      width: auto; } }
@media (min-width: 630px) and (max-width: 790px) {
  .container {
    width: 630px; }

  .row [class^="span-"] {
    margin-right: 10px; }

  .span-1 {
    width: 30px; }

  .span-2 {
    width: 70px; }

  .span-3 {
    width: 110px; }

  .span-4 {
    width: 150px; }

  .span-5 {
    width: 190px; }

  .span-6 {
    width: 230px; }

  .span-7 {
    width: 270px; }

  .span-8 {
    width: 310px; }

  .span-9 {
    width: 350px; }

  .span-10 {
    width: 390px; }

  .span-11 {
    width: 430px; }

  .span-12 {
    width: 470px; }

  .span-13 {
    width: 510px; }

  .span-14 {
    width: 550px; }

  .span-15 {
    width: 590px; }

  .span-16 {
    width: 630px; }

  .offset-1 {
    margin-left: 40px; }

  .offset-2 {
    margin-left: 80px; }

  .offset-3 {
    margin-left: 120px; }

  .offset-4 {
    margin-left: 160px; }

  .offset-5 {
    margin-left: 200px; }

  .offset-6 {
    margin-left: 240px; }

  .offset-7 {
    margin-left: 280px; }

  .offset-8 {
    margin-left: 320px; }

  .offset-9 {
    margin-left: 360px; }

  .offset-10 {
    margin-left: 400px; }

  .offset-11 {
    margin-left: 440px; }

  .offset-12 {
    margin-left: 480px; }

  .offset-13 {
    margin-left: 520px; }

  .offset-14 {
    margin-left: 560px; }

  .offset-15 {
    margin-left: 600px; } }
@media (min-width: 790px) and (max-width: 1100px) {
  .container {
    width: 790px; }

  .row [class^="span-"] {
    margin-right: 10px; }

  .span-1 {
    width: 40px; }

  .span-2 {
    width: 90px; }

  .span-3 {
    width: 140px; }

  .span-4 {
    width: 190px; }

  .span-5 {
    width: 240px; }

  .span-6 {
    width: 290px; }

  .span-7 {
    width: 340px; }

  .span-8 {
    width: 390px; }

  .span-9 {
    width: 440px; }

  .span-10 {
    width: 490px; }

  .span-11 {
    width: 540px; }

  .span-12 {
    width: 590px; }

  .span-13 {
    width: 640px; }

  .span-14 {
    width: 690px; }

  .span-15 {
    width: 740px; }

  .span-16 {
    width: 790px; }

  .offset-1 {
    margin-left: 50px; }

  .offset-2 {
    margin-left: 100px; }

  .offset-3 {
    margin-left: 150px; }

  .offset-4 {
    margin-left: 200px; }

  .offset-5 {
    margin-left: 250px; }

  .offset-6 {
    margin-left: 300px; }

  .offset-7 {
    margin-left: 350px; }

  .offset-8 {
    margin-left: 400px; }

  .offset-9 {
    margin-left: 450px; }

  .offset-10 {
    margin-left: 500px; }

  .offset-11 {
    margin-left: 550px; }

  .offset-12 {
    margin-left: 600px; }

  .offset-13 {
    margin-left: 650px; }

  .offset-14 {
    margin-left: 700px; }

  .offset-15 {
    margin-left: 750px; } }
/* normalize.css v1.0.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/*
 * Addresses `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 0px; }

/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Colours */
/* Basic  */
/* Have ideas for improving this CSS for the general community? Submit your changes at: https://github.com/Valums-File-Uploader/file-uploader */
.qq-uploader {
  position: relative;
  width: 100%; }

#uploader input {
  height: 60px; }

.qq-upload-button {
  display: block;
  /*or inline-block*/ }

.qq-upload-drop-area, .qq-upload-extra-drop-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 30px;
  z-index: 2;
  background: #FF9797;
  text-align: center; }

.qq-upload-drop-area span {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -8px;
  font-size: 16px; }

.qq-upload-extra-drop-area {
  position: relative;
  margin-top: 50px;
  font-size: 16px;
  padding-top: 30px;
  height: 20px;
  min-height: 40px; }

.qq-upload-drop-area-active {
  background: #FF7171; }

.qq-upload-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.qq-upload-list li {
  margin: 0;
  padding: 9px;
  line-height: 15px;
  font-size: 16px;
  background-color: #FFF0BD; }

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
  margin-right: 12px; }

.qq-upload-spinner {
  display: inline-block;
  background: url("../../images/loading.gif");
  width: 15px;
  height: 15px;
  vertical-align: text-bottom; }

.qq-upload-size, .qq-upload-cancel {
  font-size: 12px;
  font-weight: normal; }

.qq-upload-failed-text {
  display: none; }

.qq-upload-fail .qq-upload-failed-text {
  display: inline; }

.qq-upload-list li.qq-upload-success {
  background-color: #5DA30C;
  color: #FFFFFF; }

.qq-upload-list li.qq-upload-fail {
  background-color: #D60000;
  color: #FFFFFF; }

body {
  background: #f9f9f9; }

/* Links */
a {
  color: #40876e;
  cursor: pointer; }
  a:hover {
    color: #306452; }

.center {
  text-align: center; }

.logo {
  margin-left: auto;
  margin-right: auto;
  width: 407px;
  margin-top: 53px; }

/* main content */
.main-content {
  height: 100%;
  margin-bottom: 40px;
  background: url(../../images/background.jpg); }

/* footer */
footer {
  position: fixed;
  bottom: 0;
  color: #f9f9f9;
  width: 100%;
  background: url(../../images/line.png) repeat-x #f9f9f9;
  font-size: 0.7em; }

/* navbar */
.navbar {
  padding: 20px 0;
  margin-bottom: 10px; }

/* row all background */
.allwidth {
  width: 100%;
  position: relative; }
  .allwidth.deco {
    background: url(../../images/background.jpg); }
  .allwidth.basic {
    background: #244242;
    border-top: 1px solid #2b4f4f;
    border-bottom: 1px solid #2b4f4f;
    -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2); }
    .allwidth.basic h1, .allwidth.basic h2, .allwidth.basic h3, .allwidth.basic h4, .allwidth.basic h5, .allwidth.basic h6 {
      color: #f9f9f9; }
    .allwidth.basic a.logo {
      background: url(../../images/logo.png);
      width: 228px;
      height: 49px;
      margin-top: 14px;
      display: block; }
    .allwidth.basic .step {
      padding: 100px 0; }
  .allwidth.green {
    background: #40876e; }

/* arrow for how it works */
.square-rotate {
  width: 58px;
  height: 58px;
  margin-bottom: -18px;
  margin-top: 12px;
  background: #244242;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  -o-transform: rotate(45deg);
  /* Opera */
  -moz-transform: rotate(45deg);
  /* Firefox */
  position: absolute;
  bottom: 0;
  z-index: 10; }

/* Img results */
.img-result {
  margin: 20px 0; }
  .img-result img {
    padding: 5px;
    background: #244242; }

/* Comments */
.comments-fb {
  background: #fefefe;
  border: 1px solid #ececec;
  padding: 10px;
  margin: 4px 0;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .comments-fb .user-data {
    font-size: 0.85em; }
  .comments-fb .time {
    color: #40876e; }
  .comments-fb .comment-detail {
    padding-top: 7px; }

/* form leave a comment */
.leave-a-comment textarea {
  width: 95%; }
.leave-a-comment .button {
  margin-top: -8px; }

/* general classes */
.line {
  height: 2px;
  width: 100%;
  background: url(../../images/line.png);
  padding: 0px 10px; }

.hidden {
  display: none; }

#form-image {
  position: relative; }

#file-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }

#upload {
  width: 100px;
  height: 30px;
  background: red;
  display: block; }

input[type="placeholder"],
:-webkit-input-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: #eee; }

/* Fb friends */
#fb-friends {
  height: 400px; }
  #fb-friends .fb-friend {
    width: 24%;
    float: left;
    color: #f9f9f9;
    margin: 5px;
    font-size: 0.75em; }
    #fb-friends .fb-friend img {
      float: left; }

/* Welcome */
.welcome {
  color: #f9f9f9; }

/* Typography */
@font-face {
  font-family: 'zocial';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/zocial-regular-webfont.eot");
  src: url("../../fonts/zocial-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/zocial-regular-webfont.woff") format("woff"), url("../../fonts/zocial-regular-webfont.ttf") format("truetype"), url("../../fonts/zocial-regular-webfont.svg#ZocialRegular") format("svg");
  unicode-range: U+0 -U10FFFF; }

/* Headlines */
h1, h2, h3, h4, h5, h6, .button {
  font-family: "Puritan", sans-serif;
  font-weight: 400;
  color: #244242;
  text-transform: uppercase; }

.green h1, .green h2, .green h3, .green h4, .green h5, .green h6 {
  color: #f9f9f9; }

/* Suggestions */
.suggestions {
  color: #8caaa2;
  font-family: 'The Girl Next Door', cursive;
  font-size: 1.25em;
  margin: -0.5em 0;
  line-height: 1.4em; }

/* Paragraph */
body {
  font-family: "Helvetica", self-serif; }

/* message to ask about friends opinion */
.request-for-fb {
  color: #40876e;
  margin: 20px 0;
  text-align: center; }

/* Images */
.arrow {
  background: url("../../images/images.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 93px;
  height: 36px; }

.background-small {
  background: url("../../images/images.png");
  background-position: 0 -86px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 329px;
  height: 33px; }

.big-arrow {
  background: url(../../images/bigarrow.png) no-repeat;
  width: 114px;
  height: 28px; }

.blue-big-btn {
  background: url("../../images/images.png");
  background-position: 0 -352px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 255px;
  height: 58px; }

.check-icon {
  background: url("../../images/images.png");
  background-position: 0 -523px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 20px;
  height: 20px; }

.comments {
  background: url("../../images/images.png");
  background-position: 0 -593px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 15px;
  height: 34px; }

.dark-check-icon {
  background: url("../../images/images.png");
  background-position: 0 -677px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 18px;
  height: 17px; }

.decoration-line {
  background: url("../../images/images.png");
  background-position: 0 -744px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 39px;
  height: 29px; }

.email-icon {
  background: url("../../images/images.png");
  background-position: 0 -823px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 42px;
  height: 30px; }

.facebook-big {
  background: url("../../images/images.png");
  background-position: 0 -903px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 17px;
  height: 35px; }

.facebook-small {
  background: url("../../images/images.png");
  background-position: 0 -988px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 12px;
  height: 23px; }

.green-big-btn {
  background: url("../../images/images.png");
  background-position: 0 -1061px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 255px;
  height: 58px; }

.green-small-btn {
  background: url("../../images/images.png");
  background-position: 0 -1231px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 165px;
  height: 29px; }

.plus-icon {
  background: url("../../images/images.png");
  background-position: 0 -1392px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 23px;
  height: 23px; }

.red-big-btn {
  background: url("../../images/images.png");
  background-position: 0 -1465px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 255px;
  height: 58px; }

.x-icon {
  background: url("../../images/images.png");
  background-position: 0 -1635px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 20px;
  height: 16px; }

/* Buttons */
/*.button {
	@extend .green-small-btn;
	border: none;

	&:hover {
		background-position: 0 -1261px;
	}
}*/
.button {
  /*font-size: 14px;*/
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: #083733;
  padding: 3px 20px;
  background: -moz-linear-gradient(top, #8caaa2 0%, #5a9b94);
  background: -webkit-gradient(linear, left top, left bottom, from(#8caaa2), to(#5a9b94));
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #5a9b94;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 1px 3px rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 1px 3px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 1px 3px rgba(255, 255, 255, 0.7);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.3);
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  -ie-transition: background 1s ease-out; }
  .button:hover {
    background: -moz-linear-gradient(top, #5a9b94 0%, #8caaa2);
    background: -webkit-gradient(linear, left top, left bottom, from(#5a9b94), to(#8caaa2)); }
  .button.big {
    font-size: 1.1em;
    padding: 7px 20px; }
  .button .action {
    background: url(../../images/arrow-buttons.png) no-repeat 0 0;
    width: 20px;
    height: 22px;
    float: right; }

.button.blue {
  color: #083733;
  background: -moz-linear-gradient(top, #a3e3b1 0%, #51bd9c);
  background: -webkit-gradient(linear, left top, left bottom, from(#a3e3b1), to(#51bd9c));
  border: 1px solid #51bd9c; }
  .button.blue:hover {
    background: -moz-linear-gradient(top, #51bd9c 0%, #a3e3b1);
    background: -webkit-gradient(linear, left top, left bottom, from(#51bd9c), to(#a3e3b1)); }
  .button.blue .action {
    background: url(../../images/arrow-buttons.png) no-repeat 0 -22px; }

/*.button.big {
	@extend .green-big-btn;

	&:hover {
		background-position: 0 -1123px;
	}
}
.button.big-blue {
	@extend .blue-big-btn;

	&:hover {
		background-position: 0 -415px;
	}
}
.button.big-red {
	@extend .red-big-btn;

	&:hover {
		background-position: 0 -1527px;
	}
}
.button.big-blue, .button.big, .button.big-red {
	line-height: 58px;
	font-size: 1.7em;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
	filter: dropshadow(color=#000, opacity=0.42, offx=0, offy=-1);

}*/
/* Button structure */
/* Facebook button */
.zocial,
a.zocial {
  border: 1px solid #777;
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: #333;
  border-bottom-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  -moz-box-shadow: inset 0 0.08em 0 rgba(255, 255, 255, 0.4), inset 0 0 0.1em rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0 0.08em 0 rgba(255, 255, 255, 0.4), inset 0 0 0.1em rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 0.08em 0 rgba(255, 255, 255, 0.4), inset 0 0 0.1em rgba(255, 255, 255, 0.9);
  cursor: pointer;
  display: inline-block;
  font: bold 100%/2.1 "Lucida Grande", Tahoma, sans-serif;
  padding: 0 .95em 0 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  z-index: 100;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em; }

.zocial:before {
  content: "";
  border-right: 0.075em solid rgba(0, 0, 0, 0.1);
  float: left;
  font: 120%/1.65 zocial;
  font-style: normal;
  font-weight: normal;
  margin: 0 0.5em 0 0;
  padding: 0 0.5em;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  -moz-box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);
  box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);
  -webkit-font-smoothing: antialiased; }

.zocial:active {
  outline: none;
  /* outline is visible on :focus */ }

/* Buttons can be displayed as standalone icons by adding a class of "icon" */
.zocial.icon {
  overflow: hidden;
  max-width: 2.4em;
  padding-left: 0;
  padding-right: 0;
  max-height: 2.15em;
  white-space: nowrap; }

.zocial.icon:before {
  padding: 0;
  width: 2em;
  height: 2em;
  box-shadow: none;
  border: none; }

/* Gradients */
.zocial {
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05) 49%, rgba(0, 0, 0, 0.05) 51%, rgba(0, 0, 0, 0.1));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05) 49%, rgba(0, 0, 0, 0.05) 51%, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05) 49%, rgba(0, 0, 0, 0.05) 51%, rgba(0, 0, 0, 0.1));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), color-stop(49%, rgba(255, 255, 255, 0.05)), color-stop(51%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05) 49%, rgba(0, 0, 0, 0.05) 51%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05) 49%, rgba(0, 0, 0, 0.05) 51%, rgba(0, 0, 0, 0.1)); }

.zocial:hover, .zocial:focus {
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.15) 49%, rgba(0, 0, 0, 0.1) 51%, rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.15) 49%, rgba(0, 0, 0, 0.1) 51%, rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.15) 49%, rgba(0, 0, 0, 0.1) 51%, rgba(0, 0, 0, 0.15));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), color-stop(49%, rgba(255, 255, 255, 0.15)), color-stop(51%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.15) 49%, rgba(0, 0, 0, 0.1) 51%, rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(rgba(255, 255, 255, 0.15) 49%, rgba(0, 0, 0, 0.1) 51%, rgba(0, 0, 0, 0.15)); }

.zocial:active {
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 30%, transparent 50%, rgba(0, 0, 0, 0.1));
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 30%, transparent 50%, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 30%, transparent 50%, rgba(0, 0, 0, 0.1));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), color-stop(30%, rgba(255, 255, 255, 0)), color-stop(50%, transparent), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 30%, transparent 50%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 30%, transparent 50%, rgba(0, 0, 0, 0.1)); }

/* Button icon and color */
/* Icon characters are stored in unicode private area */
.zocial.facebook:before {
  content: "\E045"; }

/* Button background and text color */
.zocial.facebook {
  background-color: #4863ae; }

/*
The Miscellaneous Buttons
These button have no icons and can be general purpose buttons while ensuring consistent button style
Credit to @guillermovs for suggesting
*/
.zocial.primary, .zocial.secondary {
  margin: 0.1em 0;
  padding: 0 1em; }

.zocial.primary:before, .zocial.secondary:before {
  display: none; }

.zocial.primary {
  background-color: #333; }

.zocial.secondary {
  background-color: #f0f0eb;
  color: #222;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

/* Any browser-specific adjustments */
button:-moz-focus-inner {
  border: 0;
  padding: 0; }

.stars {
  background: url(../../images/stars.png) repeat-x top left;
  height: 18px; }
  .stars.empty {
    background-position: 0 -21px;
    width: 100px; }
  .stars.filled_0 {
    width: 0px; }
  .stars.filled_1 {
    width: 10px; }
  .stars.filled_2 {
    width: 20px; }
  .stars.filled_3 {
    width: 30px; }
  .stars.filled_4 {
    width: 40px; }
  .stars.filled_5 {
    width: 50px; }
  .stars.filled_6 {
    width: 60px; }
  .stars.filled_7 {
    width: 70px; }
  .stars.filled_8 {
    width: 80px; }
  .stars.filled_9 {
    width: 90px; }
  .stars.filled_10 {
    width: 100px; }

div.rateit {
  display: -moz-inline-box;
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none; }

div.rateit div.rateit-range {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
  background: url(/static/images/star.gif);
  height: 16px; }

/* for IE 6 */
* html div.rateit, * html div.rateit div.rateit-range {
  display: inline; }

/* for IE 7 */
* + html div.rateit, * + html div.rateit div.rateit-range {
  display: inline; }

div.rateit div.rateit-hover, div.rateit div.rateit-selected {
  position: absolute;
  left: 0px; }

div.rateit div.rateit-hover-rtl, div.rateit div.rateit-selected-rtl {
  left: auto;
  right: 0px; }

div.rateit div.rateit-hover {
  background: url(/static/images/star.gif) left -32px; }

div.rateit div.rateit-hover-rtl {
  background-position: right -32px; }

div.rateit div.rateit-selected {
  background: url(/static/images/star.gif) left -16px; }

div.rateit div.rateit-selected-rtl {
  background-position: right -16px; }

div.rateit div.rateit-preset {
  background: url(/static/images/star.gif) left -48px; }

div.rateit div.rateit-preset-rtl {
  background: url(/static/images/star.gif) left -48px; }

div.rateit div.rateit-reset {
  background: url(/static/images/delete.gif) 0 0;
  width: 16px;
  height: 16px;
  display: -moz-inline-box;
  display: inline-block;
  float: left; }

div.rateit div.rateit-reset:hover {
  background-position: 0 -16px; }

/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container {
  width: auto;
  margin-right: 30px;
  overflow: hidden; }

.mCSB_container.mCS_no_scrollbar {
  margin-right: 0; }

.mCustomScrollBox .mCSB_scrollTools {
  width: 16px;
  height: 100%;
  top: 0;
  right: 0; }

.mCSB_scrollTools .mCSB_draggerContainer {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mCSB_scrollTools .mCSB_buttonUp + .mCSB_draggerContainer {
  padding-bottom: 40px; }

.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.mCSB_scrollTools .mCSB_dragger {
  cursor: pointer;
  width: 100%;
  height: 30px; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 4px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center; }

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  height: 20px;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer; }

.mCSB_scrollTools .mCSB_buttonDown {
  bottom: 0;
  margin-top: -40px; }

/* horizontal scrollbar */
.mCSB_horizontal .mCSB_container {
  height: auto;
  margin-right: 0;
  margin-bottom: 30px;
  overflow: hidden; }

.mCSB_horizontal .mCSB_container.mCS_no_scrollbar {
  margin-bottom: 0; }

.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools {
  width: 100%;
  height: 16px;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  overflow: hidden; }

.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerContainer {
  height: 100%;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; }

.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft + .mCSB_draggerContainer {
  padding-bottom: 0;
  padding-right: 20px; }

.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  height: 2px;
  margin: 7px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger {
  width: 30px;
  height: 100%; }

.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 4px;
  margin: 6px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight {
  width: 20px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
  float: left; }

.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight {
  right: 0;
  bottom: auto;
  margin-left: -40px;
  margin-top: -16px;
  float: right; }

/* default scrollbar colors and backgrounds */
.mCustomScrollBox .mCSB_scrollTools {
  opacity: 0.75; }

.mCustomScrollBox:hover .mCSB_scrollTools {
  opacity: 1; }

.mCSB_scrollTools .mCSB_draggerRail {
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.4);
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
  /* old ie */ }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #fff;
  /* rgba fallback */
  background: rgba(255, 255, 255, 0.75);
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
  /* old ie */ }

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.85);
  filter: "alpha(opacity=85)";
  -ms-filter: "alpha(opacity=85)";
  /* old ie */ }

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.9);
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)";
  /* old ie */ }

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  background-image: url(mCSB_buttons.png);
  background-repeat: no-repeat;
  opacity: 0.4;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
  /* old ie */ }

.mCSB_scrollTools .mCSB_buttonUp {
  background-position: 0 0; }

.mCSB_scrollTools .mCSB_buttonDown {
  background-position: 0 -20px; }

.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: 0 -40px; }

.mCSB_scrollTools .mCSB_buttonRight {
  background-position: 0 -56px; }

.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover {
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
  /* old ie */ }

.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active {
  opacity: 0.9;
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)";
  /* old ie */ }

#mirror-inner {
  position: absolute;
  background: url(../../images/mirror.png) no-repeat;
  width: 697px;
  height: 605px; }

#result-img {
  position: absolute;
  top: 0;
  left: 0; }

#mirror {
  position: relative;
  width: 697px;
  height: 605px; }
  #mirror #placeholder-pic {
    margin: 0px;
    width: 693px;
    height: 100%;
    background: #717377;
    background: -moz-linear-gradient(-45deg, #717377 0%, #f7f5f4 49%, #d1d1d1 62%, #eaeaea 80%, #a2a39f 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #717377), color-stop(49%, #f7f5f4), color-stop(62%, #d1d1d1), color-stop(80%, #eaeaea), color-stop(100%, #a2a39f));
    background: -webkit-linear-gradient(-45deg, #717377 0%, #f7f5f4 49%, #d1d1d1 62%, #eaeaea 80%, #a2a39f 100%);
    background: -o-linear-gradient(-45deg, #717377 0%, #f7f5f4 49%, #d1d1d1 62%, #eaeaea 80%, #a2a39f 100%);
    background: -ms-linear-gradient(-45deg, #717377 0%, #f7f5f4 49%, #d1d1d1 62%, #eaeaea 80%, #a2a39f 100%);
    background: linear-gradient(135deg, #717377 0%, #f7f5f4 49%, #d1d1d1 62%, #eaeaea 80%, #a2a39f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#717377', endColorstr='#a2a39f',GradientType=1 ); }
  #mirror p {
    padding-top: 45%;
    padding-left: 108px;
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    /* IE 9 */
    -webkit-transform: rotate(-30deg);
    /* Safari and Chrome */
    -o-transform: rotate(-30deg);
    /* Opera */
    -moz-transform: rotate(-30deg);
    /* Firefox */ }
  #mirror .big-arrow {
    text-align: center;
    transform: rotate(-102deg);
    -ms-transform: rotate(-102deg);
    /* IE 9 */
    -webkit-transform: rotate(-102deg);
    /* Safari and Chrome */
    -o-transform: rotate(-102deg);
    /* Opera */
    -moz-transform: rotate(-102deg);
    /* Firefox */
    position: absolute;
    right: 250px;
    bottom: 10px; }

/* Friends suggest opinion homepage*/
.suggestions.left-side {
  color: #efaaa3;
  font-size: 1.3em;
  margin-top: 0px; }
  .suggestions.left-side .big-arrow {
    margin-left: 240px;
    margin-top: -9px; }

/* placeholder for mirror */
.placeholder-pic {
  background: black; }

.step {
  padding: 100px 0; }

#arrow {
  position: relative;
  left: -420px;
  top: -30px;
  margin: 0 auto; }

.placeholder {
  height: 72px;
  width: 100%; }

/* How it works */
.how-it-works {
  padding-bottom: 30px; }
  .how-it-works h1, .how-it-works h2, .how-it-works h3 {
    text-align: center;
    margin: 0; }
  .how-it-works .box-selected {
    background: #f9f9f9;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 3px; }
    .how-it-works .box-selected .box {
      background: none; }
    .how-it-works .box-selected h1, .how-it-works .box-selected h2, .how-it-works .box-selected h3 {
      color: #40876e; }
    .how-it-works .box-selected span {
      display: inline-block; }
  .how-it-works .box-image {
    text-align: center;
    height: 345px; }
  .how-it-works .box {
    background: #244242;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 3px; }
  .how-it-works .arrow {
    margin-top: 10%; }

/* Ask feedback form */
.ask-feedback-form ul li {
  margin-top: 10px;
  list-style: none;
  padding: 0; }
.ask-feedback-form ul input {
  margin-left: 50px;
  height: 24px;
  width: 234px;
  border-radius: 4px; }
.ask-feedback-form ul .button {
  margin-left: 150px; }

#camera {
  top: 100px;
  left: 100px;
  position: absolute; }
