@import url(http://fonts.googleapis.com/css?family=Puritan:400,700|The+Girl+Next+Door);
.container {
  *zoom: 1;
  margin: 0 auto;
  width: 1100px; }
  .container:before, .container:after {
    display: table;
    content: ""; }
  .container:after {
    clear: both; }

.row {
  *zoom: 1;
  float: left;
  margin-bottom: 0; }
  .row:before, .row:after {
    display: table;
    content: ""; }
  .row:after {
    clear: both; }
  .row [class^="span-"] {
    float: left;
    margin-right: 20px; }
    .row [class^="span-"]:last-child {
      margin-right: 0; }

.span-1 {
  width: 50px; }

.span-2 {
  width: 120px; }

.span-3 {
  width: 190px; }

.span-4 {
  width: 260px; }

.span-5 {
  width: 330px; }

.span-6 {
  width: 400px; }

.span-7 {
  width: 470px; }

.span-8 {
  width: 540px; }

.span-9 {
  width: 610px; }

.span-10 {
  width: 680px; }

.span-11 {
  width: 750px; }

.span-12 {
  width: 820px; }

.span-13 {
  width: 890px; }

.span-14 {
  width: 960px; }

.span-15 {
  width: 1030px; }

.span-16 {
  width: 1100px; }

.offset-1 {
  margin-left: 70px; }

.offset-2 {
  margin-left: 140px; }

.offset-3 {
  margin-left: 210px; }

.offset-4 {
  margin-left: 280px; }

.offset-5 {
  margin-left: 350px; }

.offset-6 {
  margin-left: 420px; }

.offset-7 {
  margin-left: 490px; }

.offset-8 {
  margin-left: 560px; }

.offset-9 {
  margin-left: 630px; }

.offset-10 {
  margin-left: 700px; }

.offset-11 {
  margin-left: 770px; }

.offset-12 {
  margin-left: 840px; }

.offset-13 {
  margin-left: 910px; }

.offset-14 {
  margin-left: 980px; }

.offset-15 {
  margin-left: 1050px; }

@media (max-width: 630px) {
  .container {
    width: auto; }

  .row {
    margin: 0;
    width: 100%; }
    .row > [class^="span-"] {
      float: none;
      margin: 0;
      width: auto; } }
@media (min-width: 630px) and (max-width: 790px) {
  .container {
    width: 630px; }

  .row [class^="span-"] {
    margin-right: 10px; }

  .span-1 {
    width: 30px; }

  .span-2 {
    width: 70px; }

  .span-3 {
    width: 110px; }

  .span-4 {
    width: 150px; }

  .span-5 {
    width: 190px; }

  .span-6 {
    width: 230px; }

  .span-7 {
    width: 270px; }

  .span-8 {
    width: 310px; }

  .span-9 {
    width: 350px; }

  .span-10 {
    width: 390px; }

  .span-11 {
    width: 430px; }

  .span-12 {
    width: 470px; }

  .span-13 {
    width: 510px; }

  .span-14 {
    width: 550px; }

  .span-15 {
    width: 590px; }

  .span-16 {
    width: 630px; }

  .offset-1 {
    margin-left: 40px; }

  .offset-2 {
    margin-left: 80px; }

  .offset-3 {
    margin-left: 120px; }

  .offset-4 {
    margin-left: 160px; }

  .offset-5 {
    margin-left: 200px; }

  .offset-6 {
    margin-left: 240px; }

  .offset-7 {
    margin-left: 280px; }

  .offset-8 {
    margin-left: 320px; }

  .offset-9 {
    margin-left: 360px; }

  .offset-10 {
    margin-left: 400px; }

  .offset-11 {
    margin-left: 440px; }

  .offset-12 {
    margin-left: 480px; }

  .offset-13 {
    margin-left: 520px; }

  .offset-14 {
    margin-left: 560px; }

  .offset-15 {
    margin-left: 600px; } }
@media (min-width: 790px) and (max-width: 1100px) {
  .container {
    width: 790px; }

  .row [class^="span-"] {
    margin-right: 10px; }

  .span-1 {
    width: 40px; }

  .span-2 {
    width: 90px; }

  .span-3 {
    width: 140px; }

  .span-4 {
    width: 190px; }

  .span-5 {
    width: 240px; }

  .span-6 {
    width: 290px; }

  .span-7 {
    width: 340px; }

  .span-8 {
    width: 390px; }

  .span-9 {
    width: 440px; }

  .span-10 {
    width: 490px; }

  .span-11 {
    width: 540px; }

  .span-12 {
    width: 590px; }

  .span-13 {
    width: 640px; }

  .span-14 {
    width: 690px; }

  .span-15 {
    width: 740px; }

  .span-16 {
    width: 790px; }

  .offset-1 {
    margin-left: 50px; }

  .offset-2 {
    margin-left: 100px; }

  .offset-3 {
    margin-left: 150px; }

  .offset-4 {
    margin-left: 200px; }

  .offset-5 {
    margin-left: 250px; }

  .offset-6 {
    margin-left: 300px; }

  .offset-7 {
    margin-left: 350px; }

  .offset-8 {
    margin-left: 400px; }

  .offset-9 {
    margin-left: 450px; }

  .offset-10 {
    margin-left: 500px; }

  .offset-11 {
    margin-left: 550px; }

  .offset-12 {
    margin-left: 600px; }

  .offset-13 {
    margin-left: 650px; }

  .offset-14 {
    margin-left: 700px; }

  .offset-15 {
    margin-left: 750px; } }
/* normalize.css v1.0.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/*
 * Addresses `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Colours */
/* Basic  */
/* Have ideas for improving this CSS for the general community? Submit your changes at: https://github.com/Valums-File-Uploader/file-uploader */
.qq-uploader {
  position: relative;
  width: 100%; }

.qq-upload-button {
  display: block;
  /*or inline-block*/ }

.qq-upload-drop-area, .qq-upload-extra-drop-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 30px;
  z-index: 2;
  background: #FF9797;
  text-align: center; }

.qq-upload-drop-area span {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -8px;
  font-size: 16px; }

.qq-upload-extra-drop-area {
  position: relative;
  margin-top: 50px;
  font-size: 16px;
  padding-top: 30px;
  height: 20px;
  min-height: 40px; }

.qq-upload-drop-area-active {
  background: #FF7171; }

.qq-upload-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.qq-upload-list li {
  margin: 0;
  padding: 9px;
  line-height: 15px;
  font-size: 16px;
  background-color: #FFF0BD; }

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
  margin-right: 12px; }

.qq-upload-spinner {
  display: inline-block;
  background: url("../../images/loading.gif");
  width: 15px;
  height: 15px;
  vertical-align: text-bottom; }

.qq-upload-size, .qq-upload-cancel {
  font-size: 12px;
  font-weight: normal; }

.qq-upload-failed-text {
  display: none; }

.qq-upload-fail .qq-upload-failed-text {
  display: inline; }

.qq-upload-list li.qq-upload-success {
  background-color: #5DA30C;
  color: #FFFFFF; }

.qq-upload-list li.qq-upload-fail {
  background-color: #D60000;
  color: #FFFFFF; }

.allwidth {
  width: 100%; }
  .allwidth.deco {
    background: url(../../images/background.jpg); }
  .allwidth.basic {
    background: #19181d;
    border-top: 1px solid #615d71;
    border-bottom: 1px solid #615d71; }
  .allwidth.green {
    background: #40876e; }

.square-rotate {
  width: 58px;
  height: 58px;
  margin-bottom: -18px;
  margin-top: 12px;
  background: #19181d;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  -o-transform: rotate(45deg);
  /* Opera */
  -moz-transform: rotate(45deg);
  /* Firefox */ }

.hidden {
  display: none; }

#form-image {
  position: relative; }

#file-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }

#upload {
  width: 100px;
  height: 30px;
  background: red;
  display: block; }

/* Typography */
@font-face {
  font-family: "riesling-webfont";
  src: url("../../fonts/riesling-webfont.eot") format("eot"), url("../../fonts/riesling-webfont.woff") format("woff"), url("../../fonts/riesling-webfont.ttf") format("truetype"); }

.logo {
  color: #19181d;
  font-family: "riesling";
  font-size: 6em;
  margin: 0.67em 0; }
  .logo .light {
    color: #e7d7c1; }

/* Headlines */
h1, h2, h3, h4, h5, h6, .button {
  font-family: "Puritan", sans-serif;
  font-weight: 400;
  color: #19181d;
  text-transform: uppercase; }

.green h1, .green h2, .green h3, .green h4, .green h5, .green h6 {
  color: #e7d7c1; }

/* Suggestions */
.suggestions {
  color: #40876e;
  font-family: 'The Girl Next Door', cursive;
  font-size: 2em;
  margin: 0.67em 0;
  line-height: 1.4em; }

/* Paragraph */
body {
  font-family: "Helvetica", self-serif; }

/* Images */
.arrow {
  background: url("../../images/images.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 93px;
  height: 36px; }

.background-small {
  background: url("../../images/images.png");
  background-position: 0 -86px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 329px;
  height: 33px; }

.big-arrow {
  background: url("../../images/images.png");
  background-position: 0 -169px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 126px;
  height: 133px; }

.blue-big-btn, .button.big-blue {
  background: url("../../images/images.png");
  background-position: 0 -352px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 255px;
  height: 58px; }

.check-icon {
  background: url("../../images/images.png");
  background-position: 0 -523px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 20px;
  height: 20px; }

.comments {
  background: url("../../images/images.png");
  background-position: 0 -593px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 15px;
  height: 34px; }

.dark-check-icon {
  background: url("../../images/images.png");
  background-position: 0 -677px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 18px;
  height: 17px; }

.decoration-line {
  background: url("../../images/images.png");
  background-position: 0 -744px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 39px;
  height: 29px; }

.email-icon {
  background: url("../../images/images.png");
  background-position: 0 -823px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 42px;
  height: 30px; }

.facebook-big {
  background: url("../../images/images.png");
  background-position: 0 -903px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 17px;
  height: 35px; }

.facebook-small {
  background: url("../../images/images.png");
  background-position: 0 -988px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 12px;
  height: 23px; }

.green-big-btn, .button.big {
  background: url("../../images/images.png");
  background-position: 0 -1061px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 255px;
  height: 58px; }

.green-small-btn, .button {
  background: url("../../images/images.png");
  background-position: 0 -1231px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 165px;
  height: 29px; }

.line {
  background: url("../../images/images.png");
  background-position: 0 -1340px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 4px;
  height: 2px; }

.plus-icon {
  background: url("../../images/images.png");
  background-position: 0 -1392px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 23px;
  height: 23px; }

.red-big-btn {
  background: url("../../images/images.png");
  background-position: 0 -1465px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 255px;
  height: 120px; }

.x-icon {
  background: url("../../images/images.png");
  background-position: 0 -1635px;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: center;
  width: 20px;
  height: 16px; }

/* Buttons */
.button:hover {
  background-position: 0 -1261px; }

.button.big:hover {
  background-position: 0 -1123px; }

.button.big-blue:hover {
  background-position: 0 -415px; }

.button.big-blue, .button.big {
  line-height: 58px;
  font-size: 1.7em; }

#mirror {
  background: url(../../images/mirror.png) no-repeat;
  width: 697px;
  height: 726px; }

/* How it works */
.how-it-works h1, .how-it-works h2, .how-it-works h3 {
  text-align: center; }
.how-it-works .box-selected {
  background: #e7d7c1; }
  .how-it-works .box-selected .box {
    background: none; }
  .how-it-works .box-selected h1, .how-it-works .box-selected h2, .how-it-works .box-selected h3 {
    color: #40876e; }
.how-it-works .box-image {
  text-align: center;
  height: 345px; }
.how-it-works .box {
  background: #19181d;
  height: 4em; }
.how-it-works .arrow {
  margin-top: 10%; }
