/* Buttons */
.button {
	@extend .green-small-btn;
	border: none;

	&:hover {
		background-position: 0 -1261px;
	}
}
.button.big {
	@extend .green-big-btn;

	&:hover {
		background-position: 0 -1123px;
	}
}
.button.big-blue {
	@extend .blue-big-btn;

	&:hover {
		background-position: 0 -415px;
	}
}
.button.big-blue, .button.big {
	line-height: 58px;
	font-size: 1.7em;
}

