/* Buttons */
.button {
	@extend .green-small-btn;
	border: none;

	&:hover {
		background-position: 0 -1261px;
	}
}
.button.big {
	@extend .green-big-btn;

	&:hover {
		background-position: 0 -1123px;
	}
}
.button.big-blue {
	@extend .blue-big-btn;

	&:hover {
		background-position: 0 -415px;
	}
}
.button.big-red {
	@extend .red-big-btn;

	&:hover {
		background-position: 0 -1527px;
	}
}
.button.big-blue, .button.big, .button.big-red {
	line-height: 58px;
	font-size: 1.7em;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
	filter: dropshadow(color=#000, opacity=0.42, offx=0, offy=-1);

}

