body {
  background: $light;
}
/* Links */
a { 
  color: $action; 

  &:hover {
    color: darken($action, 10%);
  }
}
/* row all background */
.allwidth {
  width: 100%;

  &.deco {
    background:url(../../images/background.jpg);
  }
  &.basic {
    background: $basic;
    border-top: 1px solid $light-basic;
    border-bottom: 1px solid $light-basic;

    h1, h2, h3, h4, h5, h6, .logo {color: $light;}
    .logo { margin: 0; }
  }
  &.green {  background: $action;}
}

/* arrow for how it works */
.square-rotate {
  width: 58px;
  height: 58px;
  margin-bottom: -18px;
  margin-top: 12px;
  background: $basic;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
  -o-transform: rotate(45deg); /* Opera */
  -moz-transform: rotate(45deg); /* Firefox */
}

/* Comments */
.comments-fb {
  background: lighten($light, 10%);
}
/* general classes */
.hidden {
  display: none;
}
#form-image {
  position: relative;
}

#file-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#upload {
  width: 100px;
  height: 30px;
  background: red;
  display: block;
}
input[type="placeholder"],
:-webkit-input-placeholder, 
:-moz-placeholder, 
:-ms-input-placeholder { color: #eee;}