/* Typography */
@import url(http://fonts.googleapis.com/css?family=Puritan:400,700|The+Girl+Next+Door);

@mixin font-face($font-family, $url) {
   @font-face {
      font-family: '#{$font-family}';
      src: url('#{$url}#{$font-family}.eot') format('eot'), url('#{$url}#{$font-family}.woff') format('woff'), url('#{$url}#{$font-family}.ttf') format('truetype');
   }
}
@font-face {
	font-family: 'zocial';
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/zocial-regular-webfont.eot');
	src: url('../../fonts/zocial-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/zocial-regular-webfont.woff') format('woff'),
		url('../../fonts/zocial-regular-webfont.ttf') format('truetype'),
		url('../../fonts/zocial-regular-webfont.svg#ZocialRegular') format('svg');
	unicode-range:U+0-U+10FFFF;
}
@include font-face(riesling-webfont, "../../fonts/");
/*@include font-face(zocial-regular-webfont, "../../fonts/");*/

.logo {
	color: $basic;
	font-family: "riesling";
    font-size: 6em;
}

/* Headlines */
h1, h2, h3, h4, h5, h6, .button {
	font-family: "Puritan", sans-serif;
	font-weight: 400;
	color: $basic;
	text-transform: uppercase;
}

.green {
	h1, h2, h3, h4, h5, h6 {
		color: $light;
	}
}

/* Suggestions */
.suggestions {
	color: $action;
	font-family: 'The Girl Next Door', cursive;
    font-size: 2em;
    margin: 0.67em 0;
    line-height: 1.4em;
}


/* Paragraph */
body {
	font-family: "Helvetica", self-serif;
}

/* message to ask about friends opinion */
.request-for-fb {
	color: $action;
	margin: 20px 0;
	text-align: center;
}