/* Typography */
@import url(http://fonts.googleapis.com/css?family=Puritan:400,700|The+Girl+Next+Door);

@font-face {
	font-family: 'zocial';
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/zocial-regular-webfont.eot');
	src: url('../../fonts/zocial-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/zocial-regular-webfont.woff') format('woff'),
		url('../../fonts/zocial-regular-webfont.ttf') format('truetype'),
		url('../../fonts/zocial-regular-webfont.svg#ZocialRegular') format('svg');
	unicode-range:U+0-U+10FFFF;
}

/* Headlines */
h1, h2, h3, h4, h5, h6, .button {
	font-family: "Puritan", sans-serif;
	font-weight: 400;
	color: $basic;
	text-transform: uppercase;
}

.green {
	h1, h2, h3, h4, h5, h6 {
		color: $light;
	}
}

/* Suggestions */
.suggestions {
	color: $light-claim;
	font-family: 'The Girl Next Door', cursive;
    font-size: 1.25em;
    margin: -0.5em 0;
    line-height: 1.4em;
}


/* Paragraph */
body {
	font-family: "Helvetica", self-serif;
}

/* message to ask about friends opinion */
.request-for-fb {
	color: $action;
	margin: 20px 0;
	text-align: center;
}