@import "lib/cheeky/cheeky";
@import "normalize";
@import "colours";
@import "fileuploader";
@import "common";
@import "typography";
@import "images";
@import "buttons";

#mirror {
	background:url(../../images/mirror.png) no-repeat 0 15px;
	width: 697px;
	height: 726px;
}

/* Friends suggest opinion homepage*/
.suggestions.left-side {
	margin-top: 60px;
	.big-arrow {

		margin-left: 100px;

	}
}
/* placeholder for mirror */
.placeholder-pic {
	background: black;
}
	
/* How it works */
.how-it-works {
  h1, h2, h3 {
    text-align: center;
  }
  .box-selected {
    background: $light;
    
    .box { background: none;}
    h1, h2, h3 { color: $action;}
  	span {display: inline-block;}
  }
  .box-image {
    text-align: center;
    height: 345px;
  }
  .box {
    background: $basic;
    height: 4em;
  }
  .arrow {
    margin-top: 10%;
  }
}

/* Ask feedback form */
.ask-feedback-form {
	ul {
		li { margin-top: 10px;}
		input { margin-left: 50px; height: 100%; width: 234px;}
	}
}