@import "lib/cheeky/cheeky";
@import "normalize";
@import "colours";
@import "fileuploader";
@import "common";
@import "typography";
@import "images";
@import "buttons";
@import "rating";
@import "rit";
@import "lib/mCustomScrollbar";

/*#mirror-inner {
  position: absolute;
  width: 697px;
  height: 605px; }*/

#result-img {
/*  position: absolute;
  top: 0;
  left: 0;*/
  margin: 0 auto;
  text-align: center;

  &.max-width { max-width: 50%; }
}

#mirror {
  position: relative;
  width: 300px;
  margin: 0 auto;
/*  width: 697px;
  height: 605px;*/

}
/* Friends suggest opinion homepage*/
.suggestions.left-side {
	color: $claim;
	font-size: 1.3em;
	margin-top: 0px;
	.big-arrow {

		margin-left: 240px;
		margin-top: -9px;

	}
}
/* placeholder for mirror */
.placeholder-pic {
	background: black;
}

.step {
  padding: 20px 0;
}
#arrow {
  position: relative;
  left: -420px;
  top: -30px;
  margin: 0 auto;
}
.placeholder {
  height: 72px;
  width: 100%;
}
/* How it works */
.how-it-works {
  padding-bottom: 30px;

  h1, h2, h3 {
    text-align: center;
    margin: 0;
  }
  .box-selected {
    background: $light;
    -webkit-border-radius: 4px;
  	border-radius: 4px; 
  	padding: 3px;
    
    .box { background: none;}
    h1, h2, h3 { color: $action;}
  	span {display: inline-block;}
  }
  .box-image {
    text-align: center;
    height: 345px;
  }
  .box {
    background: $basic;
    -webkit-border-radius: 4px;
  	border-radius: 4px; 
  	padding: 3px;
  }
  .arrow {
    margin-top: 10%;
  }
}

/* Ask feedback form */
.ask-feedback-form {
	ul {
		li { margin-top: 10px; list-style: none; padding: 0; }
		input { margin-left: 50px; height: 24px; width: 234px; border-radius: 4px;}
    .button { margin-left: 150px;}
	}
}

#camera {
/*  top: 100px;
  left: 100px;
  position: absolute;*/
}
